.bg-header {
background-color: #1a1831!important;
}

.footer {
background: #1a1831!important;
}

.copyright {
background: #1a1831!important;
}

h2 {
  color: #000!important;
    text-transform: uppercase!important;
  text-align: left!important;
  margin-top: 40px!important;
    margin-bottom: 20px!important;
  line-height: 1.2!important;
}

.carousel-container .next , .prev {
  background: #9d59fd!important;
}

.banner .banner-buttons a {
  background: #9d59fd!important;
}

.banner-pagination a.selected span {
  background: #9d59fd!important;
}

@media only screen and (max-width: 790px) {
  .nav-contact {
    background: #9d59fd!important;
    border: 1px solid #9d59fd!important;
  }}

@media screen and (max-width: 1199px) {
body:not(.cke_ltr) .burger div {
    background-color: #9d59fd!important;
  }}

    #toggler h3 {
      color: #fff!important;
}

#toggler h3 {
      background: #1a1831!important;
}

#toggler h3:before {
  color: #fff!important;
}

span.buy-button a {
    color: #9d59fd!important;
  background: #fff!important;
}

span.buy-button span.button {
    background: #fff!important;
}
