.bg-header {
background-color: #1a1831!important;
}

.footer {
background: #1a1831!important;
}

.copyright {
background: #1a1831!important;
}

.carousel-container .next , .prev {
  background: #9d59fd!important;
}

.banner .banner-buttons a {
  background: #9d59fd!important;
}

.banner-pagination a.selected span {
  background: #9d59fd!important;
}

@media only screen and (max-width: 790px) {
  .nav-contact {
    background: #9d59fd!important;
    border: 1px solid #9d59fd!important;
    font-size: 12px!important;
    font-weight: bold!important;
    border-radius: 30px!important;
    color: #fff!important;
    top: -35px!important;
  }}

@media screen and (max-width: 1199px) {
body:not(.cke_ltr) .burger div {
    background-color: #9d59fd!important;
  }}

@media screen and (max-width: 1199px) {
body:not(.cke_ltr) .close:before, body:not(.cke_ltr) .close:after {
    background-color: #9d59fd!important;
}}

    #toggler h3 {
      color: #fff!important;
}

#toggler h3 {
      background: #1a1831!important;
}

#toggler h3:before {
  color: #fff!important;
}

span.buy-button a {
    color: #9d59fd!important;
  background: #fff!important;
}

span.buy-button span.button {
    background: #fff!important;
}

.buy-course-table th > p {
    font-weight: normal;
}

.ResultsFieldName {
    background: #9d59fd!important;
}

.button[class*="c2"] {
    background: #9d59fd!important;
}

.button[class*="c2"]:hover {
    background: #fff!important;
    color: #9D59FF!important;
}

.header-bottom .nav li.lev1:before {
  background-color: #9d59fd;!important;
}

@media screen and (max-width: 1199px) {
body:not(.cke_ltr) .mobile-menu {
  background: #1a1831!important;
  }}
